# Welcome to Python Training 1

The goal of this training is to familiarize you with the basics of Python.

# Getting started

Python is a programming language with a clean syntax that is easy to learn. Python programs can be run under all desktop computers.

It used in many application domains including: Web and Internet Development,Scientific apps, Desktop apps, education and general software applications.

# Python interpreter

To run Python programs, you will need the Python interpreter and possibly a graphical editor.
A Python interpreter executes Python code (sometimes called programs).

A program can be one or more Python files. Code files can include other files or modules. To run a program, you need to specify a parameter when executing Python.

# Jupyter Notebook

The Jupyter Notebook is an open source web application that you can use to create and share documents that contain live code, equations, visualizations, and text. Jupyter Notebook is maintained by the people at Project Jupyter.

### How to use the Jupyter Notebook
There are two types of 'cells' in a notebook: text and code. The text cells are merely to add information to the document. The code cells contain small chunks of Python that can be run individually. To run a code cell, press Shift + Enter, or press the play button.

In [0]:
print('Hello, World!')

Hello, World!

Imagine the document as a computer, and you can run each code cell individually on it. Since they all run on the same computer, they affect each other. After you run a cell, a number is shown in brackets [ ] next to it. The numbers increase in chronological order.

For example, try running the cell below.

In [0]:
print(a)

Hello, World!

You will notice that there is an `NameError` that says name `a` is not defined. In the cell below, we will define `a` when run. Then, we should be able to run the cell above.

In [0]:
a = 'Hello, World!'

Hopefully by now, you feel comfortable using the Jupyter notebook and understand the following:


1.   How to run a code cell
2.   All the code cells run on the same 'computer', meaning they share memory
3.   Only one cell can run at a time
4.   The order in which the cells run is important

Once you feel comfortable with these things, you are ready to get started with Python.

## Python Introduction

You are now ready to begin learning Python.

### Printing

You may have noticed that the first two cells produced an output, whereas the third did not. This is because the first two have `print()` in them. The `print()` statement in a program tells the computer to output whatever is inside of the parentheses ( ). If you separate values with a comma, it will put a space between them. Feel free to experiment with what you can put inside the print statement.

In [0]:
print(1234)

1234

In [0]:
print('abcd', 'defg')

abcd defg

In [0]:
import math

print(math.pi)
print(4 + 7 - 3)

3.141592653589793
8

#### Exercise

Print out your name.

In [0]:
# Insert your own print line

### Datatypes

In computer science, there is something called *datatypes*. A datatype is a category for a value that can be stored on a computer. In Python, there are 3 basic datatypes:

1.   `Integer`, which are integers (e.g. `14, -100, 0`)
2.   `Float`, which are numbers with decimal points (e.g. `13.2, 9.0, math.pi`)
3.   `String`, which is a sequence of characters (e.g. `'Hello, World!', "abcd"`)


Each datatype can be expressed in its corresponding *literal*. A literal is just a formal term for the fundamental value.

1.   `Integer` literals are defined by any number *without* a decimal point.
2.   `Float` literals are defined by any number with a decimal point.
3.   `String` literals are defined by anything in between single or double quotes. A common mistake people make is to forget to surround their literal in a pair of quotes.

The print function can output any literals that it is given. Experiment with that now.

In [0]:
print(3, 3.14159, 'pi')
print('[insert whatever]')

3 3.14159 pi
[insert whatever]

If you are not sure what type something is, you can always have the computer tell you the datatype, which you can get using `type()`.

In [0]:
print(type(1e10))

<class 'float'>

You can perform basic math operations with the number (`Integer`, `Float`) datatypes.

*   Addition: `2 + 2`
*   Subtraction: `6 - 3`
*   Multiplication: `4 * 9`
*   Float Division: `12 / 4` (this means the output is a float type)
*   Integer Division: `12 // 3` (output is an integer, rounded down if needed)
*   Exponentiation: `2 ** 3`

You can also use parentheses ( ) in you math to influence the order of operations. Experiment with these below.

In [0]:
print((5 + 7) // 3 ** 1)

4

You can add strings together too.

In [0]:
print('This is a' + ' complete sentence.')

This is a complete sentence.

Just a heads up, you cannot use operators between different types. For instance, the cell below will cause an error.

In [0]:
print(3 + ' is the magic number.')

TypeError: ignored

### Variables

Literals are great, but they can get very clunky, especially if the same literal is used repeatedly. Additionally, literals can only ever be the value that they are. *Variables* are devices have a name and store a value. It is important to give the variable a good name so that you know what it does. For example, if I am adding up a bunch of numbers, I might call the sum variable `total`.

You can *instantiate*, or create, a variable by using the following syntax: `name = value`.

**Exercise:** Create 3 variables for your name, age, and GPA. Make sure to name them well.

You can access this value by using the name of the variable.

**Exercise:** Print out a sentence that uses the variables you created above.

Just as in algebra, variables can have different values over time.

In [0]:
num = 5
print(num)

num = 10
print(num)

5
10

### Comments

Comments are a great way to add information to your code without actaully running. Just as in a document or book, comments serve to clarify certain parts of code, give instruction on how to use code, and identify natural progression of ideas. In Python, comments are created using a `#`. Everything on a line after a `#` becomes commented code.

Try adding and removing comments on your own.

In [0]:
# This is a comment.

a  = 15     # The variable will be assigned,
b = 20      # But these comments will not run.

print(a + b)
# print(b - a)
print(a * b)

35
300